$main-first-color: #f00;
$main-second-color: #0f0;
$main-third-color: #00f;

$font-family-base: 'Roboto', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

$text-color: #000;

$default-transition: all .35s ease-in-out 0s;

//Bootstrap var
$primary: #ff0000;