<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>

<body class="loaded">
<!-- BODY -->

<div class="main-wrapper">
    <!-- CONTENT -->
    <main class="content">

        <section class="main-section section-bg d-flex align-items-center justify-content-center" style="--bg-image: url('./img/section-bg_01.jpg');">
            <div class="container">
                <div class="main-section-content text-center">
                    <p class="main-section-content__info">РИГА | 18-19 МАЯ, 2019</p>

                    <h1 class="main-section-content__title title">КОРОЛЕВА</h1>

                    <p class="main-section-content__text subtitle">Двухдневный женский семинар Алекса Мэя
                        об интимной стороне отношений</p>
                </div>
            </div>

            <div class="scroll-down"></div>
        </section>

        <section class="about-seminar-section">
            <div class="container">
                <div class="about-seminar">
                    <div class="about-seminar__head text-center">
                        <p class="title">О чем этот семинар?</p>
                        <p class="subtitle">Ты получишь проверенные тысячами женщин по всему миру секреты, приемы и техники, которые позволят тебе стать ЕДИНСТВЕННОЙ и самой
                            желанной женщиной в жизни любого мужчины.</p>
                    </div>

                    <div class="about-seminar__content">
                        <div class="program-block">
                            <div class="program-block__media-wrap">
                                <img src="<%= require('./img/program_01.jpg') %>" class="program-block__img" alt="" title="">
                            </div>

                            <div class="program-block__info">
                                <p class="program-block__title">День первый</p>

                                <p class="program-block__text">Платиновые правила настоящих королев: твой фундамент, который даст тебе непоколебимую уверенность в себе и чувство
                                    настоящего контроля над мужским подсознанием и поведением, как в постели, так и вне её.</p>
                                <a href="#more" class="program-block__button-more">Узнать больше</a>
                            </div>
                        </div>

                        <div class="program-block">
                            <div class="program-block__media-wrap">
                                <img src="<%= require('./img/program_02.jpg') %>" class="program-block__img" alt="" title="">
                            </div>

                            <div class="program-block__info">
                                <p class="program-block__title">День второй</p>

                                <p class="program-block__text">Подробные пошаговые алгоритмы: что именно, как и в какой последовательности необходимо делать, чтобы стать
                                    действительно лучшей любовницей в жизни любого, даже самого искушенного мужчины.</p>
                                <a href="#more" class="program-block__button-more">Узнать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="day-section">
            <div class="container">
                <p class="title text-center">День первый</p>
                <p class="subtitle text-center">Суббота, 15 июня</p>

                <div class="day-program offset-md-2">
                    <div class="day-program__box">
                        <p class="day-program__caption">Взлом стереотипов</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Алгоритм для решения тупиковых ситуаций в любых отношениях</li>
                            <li class="day-program__list-item">Истоки женских ошибок – откуда все начинается</li>
                            <li class="day-program__list-item">Белые пятна женского восприятия</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Путь к любви</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Эволюция отношений, опасные ловушки и важные правила</li>
                            <li class="day-program__list-item">Три уровня восхождения к любви</li>
                            <li class="day-program__list-item">Как раскрыться самой и помочь раскрыться партнеру</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Общение с мужчинами</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Проблемы в общении: как обрести понимание с партнером</li>
                            <li class="day-program__list-item">Главные ошибки в коммуникации и как их быстро исправить</li>
                            <li class="day-program__list-item">Разрушительные модели поведения: как их найти и обезвредить</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Защита от измен</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Секс и отношения глазами мужчины: правда без прикрас</li>
                            <li class="day-program__list-item">Путь современной пары – ложь, измены, развод и как этого избежать</li>
                            <li class="day-program__list-item">Ошибки в сексе и налаживание обратной связи</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Женщина, от которой не уйти</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">4 составляющих настоящего мастерства</li>
                            <li class="day-program__list-item">Ограничения в женском интимном развитии и как их быстро снять</li>
                            <li class="day-program__list-item">Истинная роль мужчины в интимных отношениях</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Страсть, которая не остывает</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Дикий мустанг у твоих ног: ключи к мужскому поведению</li>
                            <li class="day-program__list-item">Эмоциональная реальность мужчины и как с ней правильно обращаться</li>
                            <li class="day-program__list-item">Движущая сила мужских поступков и как ей управлять</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Сексуальность и магнетизм</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">7 важнейших качеств женщины с которой хочется жить вечность</li>
                            <li class="day-program__list-item">Алгоритм излечения психологических травм</li>
                            <li class="day-program__list-item">Белые пятна женского подсознания: приобретенная беспомощность</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Мужской мозг</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Секреты работы мужского мозга и как их использовать в своих отношениях</li>
                            <li class="day-program__list-item">Как формируются мужские сексуальные пристрастия и желания</li>
                            <li class="day-program__list-item">Особенности сексуального поведения мужчин под стрессом</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">И многое другое...</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="day-section" style="background-color: #ebebeb;">
            <div class="container">
                <p class="title text-center">День второй</p>
                <p class="subtitle text-center">Воскресенье, 16 июня</p>

                <div class="day-program offset-md-2">
                    <div class="day-program__box">
                        <p class="day-program__caption">Секреты сексуальной коммуникации</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Главные аспекты поведения в постели, максимально возбуждающие мужчин</li>
                            <li class="day-program__list-item">Важнейшие принципы успешного общения с мужчиной в постели и вне ее</li>
                            <li class="day-program__list-item">Секреты СМС общения и других способов воздействия</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Триада твоего наслаждения</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">6 способов повысить уровень сексуального мастерства партнера, не задевая мужское эго</li>
                            <li class="day-program__list-item">Определение уровня своего сексуального комфорта и принципы его успешного расширения</li>
                            <li class="day-program__list-item">5 каналов воздействия на мужчин, которые вызывают у них неудержимое желание</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Подготовка к волшебной ночи</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Секреты выбора правильных аксессуаров для потрясающего секса</li>
                            <li class="day-program__list-item">Правильная атмосфера для близости и ее воздействие на мужчину</li>
                            <li class="day-program__list-item">Техника безопасности в прелюдии – мужской взгляд на вещи</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Королевская прелюдия</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Оральные ласки мужского тела вне гениталий</li>
                            <li class="day-program__list-item">Скрытые эрогенные зоны мужчины: секреты нахождения и стимуляции</li>
                            <li class="day-program__list-item">Пошаговый алгоритм мастерской крышесносной прелюдии</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Техника интимной безопасности</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Чего ни в коем случае нельзя делать с членом и яичками</li>
                            <li class="day-program__list-item">Особенности ласк мужской груди</li>
                            <li class="day-program__list-item">Главные женские ошибки при мужском оргазме</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Ласки члена руками</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Мануальные техники стимуляции члена, от которых мужчина будет сходить с ума</li>
                            <li class="day-program__list-item">Важнейшие секреты мастерства при ласках члена руками</li>
                            <li class="day-program__list-item">Специальная техника для предотвращения раннего семяизвержения у мужчин</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Секреты орального мастерства</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Подробный пошаговый алгоритм крышесносного минета</li>
                            <li class="day-program__list-item">Техники, приемы и фишки незабываемых оральных ласк и секреты их комбинаций</li>
                            <li class="day-program__list-item">Потрясающее (с точки зрения мужчин) поведение женщины в процессе минета</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Тайны мужской эякуляции</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Как помочь партнеру в разы продлить половой акт</li>
                            <li class="day-program__list-item">Разбор ситуации с задержкой эякуляции у мужчин</li>
                            <li class="day-program__list-item">Женские ошибки во время мужской эякуляции и как их избежать</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">Техники высшего пилотажа</p>

                        <ul class="day-program__list">
                            <li class="day-program__list-item">Секреты углубления эмоциональной связи с мужчиной после секса</li>
                            <li class="day-program__list-item">Подробный пошаговый алгоритм комфортного анального секса</li>
                            <li class="day-program__list-item">Мужская простата – секреты обращения</li>
                        </ul>
                    </div>

                    <div class="day-program__box">
                        <p class="day-program__caption">И многое другое...</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-author-section">
            <div class="container">
                <div class="about-author">
                    <div class="about-author__info">
                        <p class="about-author__title title">АЛЕКС МЭЙ <span class="about-author__subtitle">Автор программы</span></p>

                        <hr class="about-author__separate">

                        <p class="about-author__text">Гендерный психолог, сексолог, международный эксперт в области секса и отношений из Нидерландов.</p>

                        <p class="about-author__text">20 лет работы в области сексологии и психологии отношений. Автор книг, уникальных методик и целого ряда трансформационных
                            программ для мужчин и женщин.</p>

                        <p class="about-author__text">Родился в Москве. Сразу после окончания университета уехал на Запад. Получил дальнейшее образование в Нидерландах, Соединенных
                            Штатах Америки и Великобритании.</p>

                        <p class="about-author__text">Семинары и тренинги Алекса Мэя прошли десятки тысяч человек по всему миру: от Монреаля, Лос-Анджелеса и Амстердама до
                            Копенгагена, Осло, Москвы и Санкт-Петербурга.</p>
                    </div>

                    <img src="<%= require('./img/author-img.jpg') %>" class="about-author__img" alt="" title="">
                </div>
            </div>
        </section>

        <section class="reviews-section">
            <div class="container">
                <p class="title text-center">Отзывы</p>

                <p class="subtitle text-center"><i>По просьбам участниц отзывы опубликованы анонимно</i></p>

                <div class="reviews slick-slider">
                    <div class="reviews__box">
                        <p class="reviews__text">Спасибо, Алекс! Сегодня попробовала часть техник и прикосновений на мужчине и я была в шоке от того как быстро он кончил! Он сказал
                            что теперь его жизнь делится на до и после и почему я так раньше не делала! Алекс, я ТАК ТЕБЕ БЛАГОДАРНА!!!</p>
                    </div>

                    <div class="reviews__box">
                        <p class="reviews__text">Всем привет! Семинар просто невероятно крут! Моя жизнь катилась под откос, все хорошо — работа увлечение, ребенок, но не было
                            секса)) А теперь он есть и очень даже не плохой. Алекс, ты меня просто спас!</p>
                    </div>

                    <div class="reviews__box">
                        <p class="reviews__text">Алекс, привет! Ты не просто обучаешь и объясняешь, ты ПРОБУЖДАЕШЬ!!! Я поражена!!! Ощутила невероятный подъем! Я рада, что теперь
                            много больше могу дать моему мужу, что мы на порядок лучше понимаем и чувствуем друг друга.</p>
                    </div>

                    <div class="reviews__box">
                        <p class="reviews__text">Ох, я в восторге! Если честно еще ни один тренинг в моей жизни не переворачивал так мое мироощущение!</p>
                    </div>

                    <div class="reviews__box">
                        <p class="reviews__text">Еще один «побочный эффект» от семинара — мужчины проявляют, мягко говоря, повышенный интерес. Они возбуждаются даже просто от того,
                            что говорят со мной или просто сидят рядом. Не все, конечно. Но их стало значительно больше :)</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="order-section">
            <div class="container">
                <div class="order-block">
                    <form action="" method="" name="" class="order-block__form">
                        <p class="order-block__form-title">Двухдневный женский семинар “КОРОЛЕВА”
                        </p>

                        <p class="order-block__form-subtitle">Запроси наличие мест и узнай цену за участие,
                            а также <strong>“скидки подругам”, для группы и “для пары”</strong></p>

                        <label class="order-block__form-row">
                            <span class="order-block__field-name">Имя</span>
                            <input type="text" class="order-block__input">
                        </label>

                        <label class="order-block__form-row">
                            <span class="order-block__field-name">E-mail</span>
                            <input type="email" class="order-block__input">
                        </label>

                        <label class="order-block__form-row">
                            <span class="order-block__field-name">Телефон</span>
                            <input type="tel" class="order-block__input">
                        </label>

                        <input type="submit" class="order-block__submit">

                        <p class="order-block__terms-services">Нажимая кнопку «Продолжить», вы даете <a href="#terms">согласие на обработку персональных данных.</a></p>
                    </form>
                </div>
            </div>
        </section>

        <section class="guaranty-section section-bg" style="--bg-image: url('./img/section-bg_02.jpg');">

            <div class="container">
                <div class="guaranty">
                    <p class="guaranty__title">100% ГАРАНТИЯ ВОЗВРАТА</p>

                    <p class="guaranty__text">Чтобы твое решение было легким и полностью защищенным, бронируя свое участие, ты также получаешь абсолютную и безусловную гарантию
                        возврата!</p>

                    <p class="guaranty__text">Это означает, что если во время семинара тебе хоть что-то не понравится, ты имеешь полное право в любой момент подойти к стойке
                        организаторов и потребовать возместить стоимость оплаченного тобой участия.</p>

                    <p class="guaranty__text">Иначе говоря, <a href="#">записываясь на программу прямо сейчас</a>, ты абсолютно ничем не рискуешь! Либо ты останешься довольна, либо
                        получишь деньги обратно.</p>
                </div>
            </div>


        </section>

        <section class="support-section">
            <div class="container">
                <div class="support">
                    <div class="support__head">
                        <p class="title">Остались вопросы?</p>
                        <div class="subtitle">Смело задавай их в службу поддержки!</div>
                    </div>

                    <div class="support-contacts">
                        <div class="row">
                            <div class="support-contacts__box col-12 col-md-4 text-center">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-phone"></use>
                                </svg>

                                <p class="support-contacts__caption">Служба поддержки</p>

                                <p class="support-contacts__text"><a href="tel:+74951338759">+7 495 133-87-59</a></p>
                                <p class="support-contacts__text"><a href="mailto:support@alex-may.com">support@alex-may.com</a></p>
                            </div>

                            <div class="support-contacts__box col-12 col-md-4 text-center">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-marker"></use>
                                </svg>

                                <p class="support-contacts__caption">Место проведения</p>

                                <p class="support-contacts__text">г. Москва</p>
                            </div>

                            <div class="support-contacts__box col-12 col-md-4 text-center">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-compass"></use>
                                </svg>

                                <p class="support-contacts__caption">Как добраться?</p>

                                <p class="support-contacts__text">Ты получишь подробные инструкции
                                    сразу после оплаты своего участия</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--<svg>
            <use xlink:href="img/spritemap.svg#sprite-loader"></use>
        </svg>-->
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <img src="<%= require('./img/logo2.png') %>" class="footer-content__logo" alt="logo" title="">

                <div class="footer-content__text-wrap">
                    <p class="footer-content__copyright">© Алекс Мэй. Все права защищены.</p>

                    <nav class="footer-content__nav">
                        <a href="#" class="footer-content__nav-link">Служба поддержки</a>
                        <a href="#" class="footer-content__nav-link">Политика приватности</a>
                        <a href="#" class="footer-content__nav-link">Пользовательское соглашение</a>
                    </nav>

                    <p class="footer-content__disclaimer">Внимание! Cайт содержит информацию для взрослых.
                        Лицам, не достигшим совершеннолетия, просмотр запрещен.
                        Закройте страницу, если вам меньше 18 лет!</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load"></div>
<!-- BODY END   -->


</body>
</html>
